extends layout.pug

block second-header
  nav(class="navbar navbar-expand-md navbar-dark bg-dark")
    div(class="container-fluid")
      form(action="#" class="search-bar")
        input(type="text" class="form-control" placeholder="Search Surveys")
        button(type="submit")
          img(src="/img/icons/search.svg")
      ul(class="navbar-nav ml-auto")
        li(class="nav-item")
          span 
            | Sort by:
        li(class="nav-item sort-link grey-button active")
          a(class="nav-link" href="#" data-type="date")
            | Date Created
        li(class="nav-item sort-link grey-button")
          a(class="nav-link" href="#" data-type="title")
            | Title
        li(class="nav-item sort-link grey-button")
          a(class="nav-link" href="#" data-type="totalResponses")
            | Total Responses

block content
  div(class="row")
    div(class="col-xl-3 col-lg-4 col-md-5")
      include components/folders.pug
    div(class="col-xl-9 col-lg-8 col-md-7")
      div(class="row" id="results")
        div(class="col-12 text-center")
          svg(version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve" class="svg-loader")
            rect(x="20" y="50" width="4" height="10" fill="#0000ff")
              animateTransform(attributeType="xml"
                  attributeName="transform" type="translate"
                  values="0 0; 0 20; 0 0"
                  begin="0" dur="0.6s" repeatCount="indefinite")
            rect(x="30" y="50" width="4" height="10" fill="#0000ff")
              animateTransform(attributeType="xml"
                  attributeName="transform" type="translate"
                  values="0 0; 0 20; 0 0"
                  begin="0.2s" dur="0.6s" repeatCount="indefinite")
            rect(x="40" y="50" width="4" height="10" fill="#0000ff")
              animateTransform(attributeType="xml"
                  attributeName="transform" type="translate"
                  values="0 0; 0 20; 0 0"
                  begin="0.4s" dur="0.6s" repeatCount="indefinite")

        //- each survey, k in surveys
        //-   div(class="results-item" item-id=survey.id data-totalAmount=survey.amountOfResponses data-createdAt=survey.createdAt data-title=survey.title class="col-md-12 col-lg-6 col-xl-4")
        //-     div(class="survey-box")
        //-       div(class="survey-header")
        //-         input(class="survey-title" disabled item-id=survey.id type="text" value=survey.title data-index=k data-type="editSurveyName")
        //-       div(class="survey-body")
        //-         div(class="folder-here")
        //-           if survey.organizationName
        //-             img(src="/img/icons/folder.svg")
        //-             strong(class="folder-name")= survey.organizationName
        //-           else 
        //-             | No Folder
        //-         div(class="survey-link")
        //-           input(type="text" class="form-control" value=survey.link readonly)
        //-           button(class="btn btn-link" data-action="copyTextField")= Copy
        //-       div(class="survey-stats")
        //-         div(class="row align-items-center")
        //-           div(class="col-md-4")
        //-             p
        //-               strong= survey.amountOfResponses
        //-               | Responses
        //-           div(class="col-md-8 col-lg-12 col-xl-12 col-xxl-8")
        //-             div(class="survey-static")
        //-               p 
        //-                 span= `Provider Type`
        //-                 strong= survey.isMultipleProviders ? 'Multiple' : 'Single'
        //-               p 
        //-                 span= `Last Response`
        //-                 strong= survey.lastResponseDateAt
        //-               p 
        //-                 span= `Last Update`
        //-                 strong= survey.updatedAt
        //-               p 
        //-                 span= `Request to contact?`
        //-                 strong= survey.isContactPageOff ? 'No' : 'Yes'
        //-       div(class="survey-bottom")
        //-         div(class="row")
        //-           div(class="col-md-12")
        //-             a(href=`/dashboard/${survey.id}` class="btn btn-link")= `Preview`
        //-             a(href=`/dashboard/delete/${survey.id}` class="btn btn-link")= `Delete`
        //-             a(href=`/dashboard/${survey.id}/preview` target="_blank" class="btn btn-link")= `Live Preview`
      div(id="no-results" style="display: none;")
        div(class="beautified-error")
          div(class="container")
            div(class="row")
              div(class="col-md-8 col-lg-8 col-xl-7 mx-auto text-center")
                img(src="/img/no-results.jpg" class="img-fluid")
                h4 No surveys found
                p Please reset your search, or change the surveys folder.
  div(class="modal fade popup delete-popup" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
    div(class="modal-dialog" role="document")
      div(class="modal-content")
        div(class="modal-header")
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true")
              | &times;
          h4(class="modal-title" id="myModalLabel")
            | Delete folder "
            span(id="folder-name")
            | "?
        div(class="modal-body")
          | All surveys within this folder will be unassigned.
          div(class="row mt-4 pt-4 border-top")
            div(class="col-6")
              button(type="button" class="btn btn-secondary btn-block" data-dismiss="modal")
                | Cancel
            div(class="col-6")
              button(type="button" class="btn btn-danger btn-block" id="deleteFolderConfirm" data-id="")
                | Delete Folder
            